---
import Icon from "../Icon/Icon.astro";
import type InternalProps from "./button.interface";

type Props = InternalProps;

const {
  variant,
  withIcon,
  linkProps,
  class: classAttributes,
  as = "button",
} = Astro.props;

const getButtonClass = () => {
  switch (variant) {
    case "outline":
      return "button--outline";
    default:
      return "";
  }
};
---

{
  as === "button" ? (
    <button class={`button ${getButtonClass()} ${classAttributes}`}>
      <slot />

      {withIcon && <Icon type={withIcon.type} />}
    </button>
  ) : (
    <a
      href={linkProps?.href}
      class={`button ${getButtonClass()} ${classAttributes}`}
      rel="noopener noreferrer"
    >
      <slot />

      {withIcon && <Icon type={withIcon.type} />}
    </a>
  )
}
